<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<!-- 背景圖' -->
    <section id="home" class="home-section"></section>
    <section id="employees" class="employees-section"></section>
    <section id="leaveRequest" class="leaveRequest-section"></section>
    <section id="meetingRoom" class="meetingRoom-section"></section>
    <section id="post" class="post-section"></section>
    <section id="sal" class="sal-section"></section>
    <section id="worklog" class="worklog-section"></section>
    
    
    
    
    
    
</body>
</html>