<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- DataTable連結 -->

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link
	href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />


<title>個人薪資單</title>

<!-- 表單: backFrom、表格：backSheet-->
<link th:href="@{/css/backFrom.css}" rel="stylesheet" type="text/css">


<style>
th {
	background-color: #7E8EF1;
	color: #fff;
}

td {
	padding-right: 20px;
}

td a {
	color: black;
	text-decoration: none;
}

.btn-publish {
	border: none;
}

#batchPublishButton {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: rgb(102, 130, 255);
	color: white;
	transition: background-color 0.3s;
}

.icon-plus {
	color: gray;
}
</style>


</head>

<body>
	<div th:replace="~{layout/backEmpnavbar}"></div>

	<div class="wrap">

		<div class="nav1">
			<br> <a th:href="@{/getAllEmpSal.controller}">薪資管理系統</a> <a
				th:href="@{/toInsertEmpSal}">新增薪資單</a> <a
				th:href="@{/toInsertEmpSalBatch}">批次新增薪資單</a>

		</div>




		<div id="content" class="container" align="center">
			<h2>薪資資料</h2>
			<div class="d-flex justify-content-between align-items-center">
				<button type="button" id="download-button"
					class="btn btn-outline-secondary ms-auto">
					下載檔案<i class="fa-solid fa-file-arrow-down ms-2 icon-plus"></i>
				</button>
			</div>
			<table>
				<tr>
					<td><a th:href="@{/getAllEmpSal.controller(status=null)}">全部</a></td>
					<td><a th:href="@{/getAllEmpSal.controller(status='未發送')}">未發送</a></td>
					<td><a th:href="@{/getAllEmpSal.controller(status='已發送')}">已發送</a></td>
				</tr>
			</table>
			<hr>

			<form method="get" th:action="@{/backGetSelectSal}">
				<tr>
					<td><label for="col">查詢類別:</label> <select name="col"
						class="select" id="col">
							<option value="year">年度</option>
							<option value="month" selected>月份</option>
							<option value="salno">資料編號</option>
							<option value="empno">員工編號</option>
							<option value="name">員工姓名</option>
							<option value="mgr">直屬主管</option>
							<option value="deptno">部門編號</option>
							<option value="sal">本薪</option>
							<option value="overtimePay">加班費</option>
					</select></td>

					<td><span class="colvalue"> <label for="colvalue">輸入查詢:</label>
							<input type="text" name="colvalue" id="colvalue" />
					</span></td>

					<td><input type="submit" value="查詢" /></td>

				</tr>
			</form>

			<!--  <form method="get" th:action="@{/toInsertEmpSal}">
				<input type="submit" value="新增" />
			</form>-->
			<!-- 			<form method="get" th:action="@{/toInsertEmpSalBatch}"> -->
			<!-- 				<input type="submit" value="批次新增" /> -->
			<!-- 			</form> -->



			<table id="myTable" class="display compact hover cell-border stripe">
				<thead>
					<tr>
						<th width="5px"><input type="checkbox" id="selectAll"
							onclick="toggleSelectAll(this)"></th>
						<th>資料編號</th>
						<th>員工編號</th>
						<th>員工姓名</th>
						<th>年度</th>
						<th>月份</th>
						<th>本薪</th>
						<!-- 						<th>伙食津貼</th> -->
						<!-- 						<th>交通津貼</th> -->
						<th>主管津貼</th>
						<th>節日禮金</th>
						<th>加班費</th>
						<th>全勤獎金</th>
						<th>請假扣薪</th>
						<th>應發合計</th>
						<th>應扣合計</th>
						<th>實發金額</th>
						<th>編輯</th>
						<th>刪除</th>
						<th>發佈狀態</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="emp : ${emps}">
						<td><input type="checkbox" class="deleteCheckbox"
							th:value="${emp.salno}" data-empno="${emp.empno}"></td>
						<td th:text="${emp.salno}"></td>
						<td th:text="${emp.empno}"></td>
						<td th:text="${emp.name}"></td>
						<td th:text="${emp.year}"></td>
						<td th:text="${emp.month}"></td>
						<td th:text="${emp.sal}"></td>
						<!-- 						<td -->
						<!-- 							th:text="${emp.foodAllowance != null ? emp.foodAllowance : 4000}"></td> -->
						<!-- 						<td -->
						<!-- 							th:text="${emp.trafficAllowance != null ? emp.trafficAllowance : ''}"></td> -->
						<td th:text="${emp.mgrAllowance != null ? emp.mgrAllowance : ''}"></td>
						<td
							th:text="${emp.holidayAllowance != null ? emp.holidayAllowance : ''}"></td>
						<td th:text="${emp.overtimePay != null ? emp.overtimePay : ''}"></td>
						<td
							th:text="${emp.attendanceBonus != null ? emp.attendanceBonus : ''}"></td>
						<td th:text="${emp.leavePay != null ? emp.leavePay: ''}"></td>
						<td th:text="${emp.totalAmount != null ? emp.totalAmount : ''}"></td>
						<td
							th:text="${emp.totalDeduction != null ? emp.totalDeduction : ''}"></td>
						<td th:text="${emp.netPay != null ? emp.netPay : ''}"></td>
						<td><a th:href="@{/toUpdateEmpSal(salno=${emp.salno})}"><img
								src="images/pen.svg" alt="編輯"></a></td>
						<td>
							<form method="post" th:action="@{/deleteEmpSal}">
								<input name="salno" th:value="${emp.salno}" type="hidden" /> <input
									name="_method" value="DELETE" type="hidden" />
								<!-- 								<button type="submit" class="btn btn-sm" -->
								<!-- 									onclick="return confirm('確定刪除嗎???')"> -->
								<!-- 									<img src="images/trash3.svg" alt="刪除" style="height: 20px;"> -->
								<!-- 								</button> -->
								<button type="button" class="btn btn-sm btn-delete">
									<img src="images/trash3.svg" alt="刪除" style="height: 20px;">
								</button>

							</form>
						</td>
						<td>
							<div th:if="${emp.status == '未發送'}">
								<span th:text="${emp.status}" class="status-text"></span>
								<button class="btn-publish" th:data-salno="${emp.salno}"
									style="display: none;">發送</button>
							</div>
							<div th:if="${emp.status != '未發送'}">
								<span th:text="${emp.status}" class="status-text"></span>
							</div>
						</td>

					</tr>
					<tr th:if="${#lists.isEmpty(emps)}">
						<td colspan="16">No data available</td>
					</tr>
				</tbody>
			</table>

			<h3>
				<span th:if="${emps != null}"> 共<span
					th:text="${#lists.size(emps)}"></span>筆員工資料
				</span> <span th:if="${emps == null}"> 共0筆員工資料 
			</h3>
			<button id="batchPublishButton">批次發送</button>


			<!-- 			<select multiple class="form-control" -->
			<!-- 				id="notifyEmpno" name="notifyEmpno"> -->
			<!-- 				<option th:each="employee : ${employees}" -->
			<!-- 					th:value="${employee.empno}" th:text="${employee.name}"></option> -->
			<!-- 			</select>  -->



			<input type="button" value="上一頁" onclick="history.back();" />
		</div>

	</div>
	<div th:replace="~{layout/footer}"></div>

	<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>

	<script>
		//------整批選擇功能-----------
		function toggleSelectAll(selectAllCheckbox) {
			const checkboxes = document.querySelectorAll('.deleteCheckbox');
			checkboxes.forEach(checkbox => checkbox.checked = selectAllCheckbox.checked);
		}


		//------批次發送功能------------
		document.getElementById('batchPublishButton').addEventListener('click', function () {
			const checkboxes = document.querySelectorAll('.deleteCheckbox:checked');
			const selectedSalnos = Array.from(checkboxes).map(checkbox => parseInt(checkbox.value));

			if (selectedSalnos.length === 0) {
				alert('請選擇至少一個項目進行批次發送');
				return;
			}


			fetch('/PSNEXUS/batchPublish', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({salnos: selectedSalnos})
			})
				.then(response => {
					if (response.ok) {
						return response.text();
					} else {
						throw new Error('批次發送失敗');
					}
				})
				.then(data => {
					Swal.fire({
						icon: 'success',
						title: data,
						showConfirmButton: false,
						timer: 1500
					}).then(() => {
						location.reload(); // 重新讀取已更新數據
					});
				})
				.catch(error => {
					Swal.fire({
						icon: 'error',
						title: '批次發送失敗',
						text: error.message
					});
				});
		});




		//發送薪資單按鈕
		document.addEventListener('DOMContentLoaded', function () {
			const statusCells = document.querySelectorAll('td div');

			statusCells.forEach(cell => {
				const statusText = cell.querySelector('.status-text');
				const publishButton = cell.querySelector('.btn-publish');

				if (statusText && publishButton) {
					cell.addEventListener('mouseover', function () {
						if (statusText.textContent.trim() === '未發送') {
							statusText.style.display = 'none';
							publishButton.style.display = 'inline-block';
						}
					});

					cell.addEventListener('mouseout', function () {
						if (statusText.textContent.trim() === '未發送') {
							statusText.style.display = 'inline-block';
							publishButton.style.display = 'none';
						}
					});
				}
			});
		});

//sweetalart按鈕
		$(document).ready(function () {
    $(".btn-publish").click(function () {
        var salno = $(this).data("salno");
        
        // 顯示 SweetAlert 確認對話框
        Swal.fire({
            title: '確定要發送薪資單嗎?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '是的，發送!',
            cancelButtonText: '取消'
        }).then((result) => {
            if (result.isConfirmed) {
                // 使用者確認發送，執行 AJAX 請求
                $.ajax({
                    url: '/PSNEXUS/updateStatus',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({salno: salno, status: '已發送'}),
                    success: function (response) {
                        Swal.fire(
                            '發送成功!',
                            '薪資單已成功發送。',
                            'success'
                        ).then(() => {
                            location.reload(); // 重新載入頁面以查看更動
                        });
                    },
                    error: function (xhr, status, error) {
                        Swal.fire(
                            '發送失敗',
                            '無法更新狀態: ' + error,
                            'error'
                        );
                    }
                });
            }
        });
    });
});


$(document).ready(function() {
    $(".btn-delete").click(function(e) {
        e.preventDefault(); // 防止表單提交
        var form = $(this).closest("form"); // 取得表單元素

        Swal.fire({
            title: '確定要刪除嗎?',
            text: "這個操作不能復原!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '是的，刪除!',
            cancelButtonText: '取消'
        }).then((result) => {
            if (result.isConfirmed) {
                form.submit(); // 如果使用者確認，提交表單
            }
        });
    });
});


		//DataTable設定

		$(document).ready(function () {
			$('#myTable').DataTable({
				//中文化
				"language": {
					"processing": "處理中...",
					"loadingRecords": "載入中...",
					"paginate": {
						"first": "第一頁",
						"previous": "上一頁",
						"next": "下一頁",
						"last": "最後一頁"
					},
					"emptyTable": "目前沒有資料",
					"datetime": {
						"previous": "上一頁",
						"next": "下一頁",
						"hours": "時",
						"minutes": "分",
						"seconds": "秒",
						"amPm": [
							"上午",
							"下午"
						],
						"unknown": "未知",
						"weekdays": [
							"週日",
							"週一",
							"週二",
							"週三",
							"週四",
							"週五",
							"週六"
						],
						"months": [
							"一月",
							"二月",
							"三月",
							"四月",
							"五月",
							"六月",
							"七月",
							"八月",
							"九月",
							"十月",
							"十一月",
							"十二月"
						]
					},
					"searchBuilder": {
						"add": "新增條件",
						"condition": "條件",
						"button": {
							"_": "複合查詢 (%d)",
							"0": "複合查詢"
						},
						"clearAll": "清空",
						"conditions": {
							"array": {
								"contains": "含有",
								"equals": "等於",
								"empty": "空值",
								"not": "不等於",
								"notEmpty": "非空值",
								"without": "不含"
							},
							"date": {
								"after": "大於",
								"before": "小於",
								"between": "在其中",
								"empty": "為空",
								"equals": "等於",
								"not": "不為",
								"notBetween": "不在其中",
								"notEmpty": "不為空"
							},
							"number": {
								"between": "在其中",
								"empty": "為空",
								"equals": "等於",
								"gt": "大於",
								"gte": "大於等於",
								"lt": "小於",
								"lte": "小於等於",
								"not": "不為",
								"notBetween": "不在其中",
								"notEmpty": "不為空"
							},
							"string": {
								"contains": "含有",
								"empty": "為空",
								"endsWith": "字尾為",
								"equals": "等於",
								"not": "不為",
								"notEmpty": "不為空",
								"startsWith": "字首為",
								"notContains": "不含",
								"notStartsWith": "開頭不是",
								"notEndsWith": "結尾不是"
							}
						},
						"data": "欄位",
						"leftTitle": "群組條件",
						"logicAnd": "且",
						"logicOr": "或",
						"rightTitle": "取消群組",
						"title": {
							"_": "複合查詢 (%d)",
							"0": "複合查詢"
						},
						"value": "內容",
						"deleteTitle": "刪除篩選條件"
					},
					"editor": {
						"close": "關閉",
						"create": {
							"button": "新增",
							"title": "新增資料",
							"submit": "送出新增"
						},
						"remove": {
							"button": "刪除",
							"title": "刪除資料",
							"submit": "送出刪除",
							"confirm": {
								"_": "您確定要刪除您所選取的 %d 筆資料嗎？",
								"1": "您確定要刪除您所選取的 1 筆資料嗎？"
							}
						},
						"error": {
							"system": "系統發生錯誤(更多資訊)"
						},
						"edit": {
							"button": "修改",
							"title": "修改資料",
							"submit": "送出修改"
						},
						"multi": {
							"title": "多重值",
							"info": "您所選擇的多筆資料中，此欄位包含了不同的值。若您想要將它們都改為同一個值，可以在此輸入，要不然它們會保留各自原本的值。",
							"restore": "復原",
							"noMulti": "此輸入欄需單獨輸入，不容許多筆資料一起修改"
						}
					},
					"autoFill": {
						"cancel": "取消"
					},
					"buttons": {
						"copySuccess": {
							"_": "複製了 %d 筆資料",
							"1": "複製了 1 筆資料"
						},
						"copyTitle": "已經複製到剪貼簿",
						"excel": "Excel",
						"pdf": "PDF",
						"print": "列印",
						"copy": "複製",
						"colvis": "欄位顯示",
						"colvisRestore": "重置欄位顯示",
						"csv": "CSV",
						"pageLength": {
							"-1": "顯示全部",
							"_": "顯示 %d 筆"
						},
						"createState": "建立狀態",
						"removeAllStates": "移除所有狀態",
						"removeState": "移除",
						"renameState": "重新命名",
						"savedStates": "儲存狀態",
						"stateRestore": "狀態 %d",
						"updateState": "更新",
						"collection": "更多"
					},
					"searchPanes": {
						"collapse": {
							"_": "搜尋面版 (%d)",
							"0": "搜尋面版"
						},
						"emptyPanes": "沒搜尋面版",
						"loadMessage": "載入搜尋面版中...",
						"clearMessage": "清空",
						"count": "{total}",
						"countFiltered": "{shown} ({total})",
						"showMessage": "顯示全部",
						"collapseMessage": "摺疊全部",
						"title": "篩選條件 - %d"
					},
					"stateRestore": {
						"emptyError": "名稱不能空白。",
						"creationModal": {
							"button": "建立",
							"columns": {
								"search": "欄位搜尋",
								"visible": "欄位顯示"
							},
							"name": "名稱：",
							"order": "排序",
							"paging": "分頁",
							"scroller": "卷軸位置",
							"search": "搜尋",
							"searchBuilder": "複合查詢",
							"select": "選擇",
							"title": "建立新狀態",
							"toggleLabel": "包含："
						},
						"duplicateError": "此狀態名稱已經存在。",
						"emptyStates": "名稱不可空白。",
						"removeConfirm": "確定要移除 %s 嗎？",
						"removeError": "移除狀態失敗。",
						"removeJoiner": "和",
						"removeSubmit": "移除",
						"removeTitle": "移除狀態",
						"renameButton": "重新命名",
						"renameLabel": "%s 的新名稱：",
						"renameTitle": "重新命名狀態"
					},
					"select": {
						"columns": {
							"_": "選擇了 %d 欄資料",
							"1": "選擇了 1 欄資料"
						},
						"rows": {
							"1": "選擇了 1 筆資料",
							"_": "選擇了 %d 筆資料"
						},
						"cells": {
							"1": "選擇了 1 格資料",
							"_": "選擇了 %d 格資料"
						}
					},
					"zeroRecords": "沒有符合的資料",
					"aria": {
						"sortAscending": "：升冪排列",
						"sortDescending": "：降冪排列"
					},
					"info": "顯示第 _START_ 至 _END_ 筆結果，共 _TOTAL_ 筆",
					"infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
					"infoThousands": ",",
					"lengthMenu": "顯示 _MENU_ 筆結果",
					"search": "搜尋：",
					"searchPlaceholder": "請輸入關鍵字",
					"thousands": ",",
					"infoFiltered": "(從 _MAX_ 筆結果中篩選)"
				}

			})

		});

//下載檔案
	document.getElementById('download-button').addEventListener('click', function() {
			window.location.href = '/PSNEXUS/downloadAllSalData';
		});
	</script>
</body>

</html>