/* 因為是大家共用，請不要直接修改唷 */

/* 排版初始化 */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: Arial, sans-serif;
	transition: margin-left 0.3s;
	transition: all 0.3s;
	/* 所有屬性都設置過渡效果 */
}

/* 內容最外層，通常看不到 */
.wrap {
	display: flex;
	flex-direction: row;
	height:100%;
	width: 100%;
	background: #F5EDF7;
	color: #333;
	padding-top: 104px;
}

/* 左側navbar */
.nav1 {
	position: relative;
	width: 260px;
	/* 固定寬度，可以根據需要調整 */
	background-color: #BB99CD;
	/* 背景色，可以根據需要調整 */
	padding: 20px;
	/* 內邊距，可以根據需要調整 */
}

.nav1 a {
	color: rgb(34, 34, 34);
	text-decoration: none;
	background-size: 25px;
	display: block;
	width: 200px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
}

.nav1 a:hover {
	color: white;
	/* background-color: rgb(41, 39, 76); */
}

/* 左側navbar頂部線條 */
/* 
    .nav1::before {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        width:5px ; 
        height:100% ;
        background-color: rgb(102, 130, 255); }*/

/* class為container:增加id content */
#content {
	max-width: 70%;
	margin: 20px auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	overflow: hidden;
	/* 確保 .container 的內容不會溢出 */
	position: relative;
}

/* 內容區上面的藍色區塊綴飾 */
.container::before {
	content: '';
	position: absolute;
	top: 0;
	/* 調整位置以達到覆蓋效果 */
	left: 0;
	width: 100%;
	height: 10px;
	background-color: #643579;
	/* 紫色區塊 */
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/* 標題置左 */
h2 {
	color: #333;
	padding: 10px;
	padding-bottom: 20px;
	text-align: left;
}

/* 表單列輸入欄設定 */

/* 按欄位種類修改 */
/* .table-form input[type="month"], input[type="text"], input[type="password"],
        input[type="file"], input[type="month"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    } */

/* table的class內input統一修改 */
.table-form input, .table-form select {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

/* 表單列內按鈕 */
input[type="submit"], input[type="button"], input[type="reset"] {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: rgb(102, 130, 255);
	color: white;
	transition: background-color 0.3s;
	
}

/* 修改特定按鈕寬度 */
.table-form td .confirmButton {
	padding: 10px;
	width: 100px;
}




/* 
.table-form td .confirmButton:hover {
    background-color: rgb(42, 60, 147);
} */

/* 表單列內按鈕變色 */
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover
	{
	background-color: rgb(42, 60, 147);
}

/* 存檔按鈕 */
.btn.btn-save {
	color: white;
	background-color: rgb(102, 130, 255);
	border: none;
	/* 去掉邊框 */
}

/* 刪除按鈕 */
.btn.btn-remove {
	color: white;
	background-color: rgb(241, 57, 57);
	border: none;
	/* 去掉邊框 */
}

.btn.btn-save:hover {
	color: white;
	background-color: rgb(57, 78, 184);
}

.btn.btn-remove:hover {
	color: white;
	background-color: rgb(185, 28, 28);
}

/* 新增一筆資料按鈕 */
.addPosition {
	float: right;
	padding-right: 10px;
	border: none;
	/* 隱藏邊框 */
	background-color: transparent;
	/* 移除底色 */
	color: rgb(145, 145, 145);
}

/* 將SVG改顏色 */
.custom-color-icon {
	filter: invert(62%) sepia(22%) saturate(3753%) hue-rotate(193deg)
		brightness(100%) contrast(93%);
}

/* 按鈕 hover 時將 SVG 和文字顏色變深 */
.addPosition:hover {
	color: rgb(65, 65, 65);
	/* 文字變色 */
}

.addPosition:hover .custom-color-icon {
	filter: invert(62%) sepia(22%) saturate(3753%) hue-rotate(193deg)
		brightness(80%) contrast(93%);
}

/* table用的class */
.table-form {
	width: 100%;
	max-width: 600px;
	margin: 0;
	border-collapse: collapse;
	text-align: left;
}

/*  */
.table-form td {
	padding: 10px;
	width: 60px;
}

/* 表單列固定、做區間 */
label {
	display: block;
	margin-bottom: 5px;
}

/* 使用dataTable套件做表格，記得把<table>中的border="1"刪掉 */
#myTable th:first-child {
	border-top-left-radius: 20px;
}

#myTable th:last-child {
	border-top-right-radius: 20px;
}

#myTable th {
	border: none;
	padding: 10px;
}

/* 使用聯流鑽研出的自動帶名字條:autocomplete全部css */
.autocomplete {
	position: relative;
	display: inline-block;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-item {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.autocomplete-item:hover {
	background-color: #e9e9e9;
}

/*  footer 下面所有都要放*/
footer {
	background-color: rgb(46, 46, 46);
	color: rgb(176, 176, 176);
	height: 50px;
	padding: 15px;
}

footer a {
	color: rgb(175, 175, 175);
	text-decoration: none;
	margin: 5px;
}

footer a:hover {
	color: rgb(79, 79, 79);
	text-decoration: none;
}

.back {
	float: right;
}